<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="SitePhysicalPath" value="C:\AcumaticaSites\22r1051" />
    <add key="GenResultPath" value="C:\TestSDK_22_105_0031_32\download" />
    <!-- @company is the tenant/company name if there are multiple tenants -->
    <add key="Username" value="admin@Company" /> 
    <add key="Namespace" value="GeneratedWrappers.Acumatica" />
    <add key="ClearOutput" value="false" />
    <add key="FilenameFilter" value="SO301000, SM204505, SM203520, AP303000" />
    <!--generic inquiries, PL screens. Get the GUID from the site map screen in acumatica. Must be a seperate file to work -->
    <add key="GenericInquiryParameters" value="GenericInquiriesWithParameters.txt"/>
    <!--<add key="PagesList" value="list.txt"/>
    <add key="PagesListAttribute" value="exclude"/>
    <add key="PagesListAttribute" value="include"/>
    <add key="PagesParameters" value="ParamsPP.txt"/>
    <add key="GenericInquiryParameters" value="ParamsGI.txt"/>-->
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
</configuration>